@model IEnumerable<FreightApp.Models.SCRCARDFRTREP>



<div><table   style="width:40%;color:#1977eb ;text-align:right" class="table " >
     <tr > <th>  Freight  </th>         <td class="p_1000"> <b>@ViewBag.frt</b>   </td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
    <th>  Freight Total  </th>         <td class="p_1000"><b> @ViewBag.frt_t </b> </td> </tr>
 
         </table>

</div>

@*<table  style="width:70%" class="table table-hover table-striped table-scroll">*@

<div id="table-container" >
<table id="maintable" class="table table-hover table-striped table-scroll"  style="width:70%;font-size:small">
    <thead>
    <tr style="background-color:deepskyblue">
       <th>Cust Name</th>
        <th>Code</th>
        
         <th>
           Billing Doc
        </th>
        <th>
           Billing Date
        </th>
        <th>
           Mat No.
        </th>
        <th>
          Hie No.
        </th>
         <th>
          Incoterms
        </th>
        <th>
          Total Bill Qty
        </th>
        <th>
           Box Qty
        </th>
      
        <th>
           Lr No.
        </th>
        <th>
          Freight 
        </th>
        <th>
           Freight Total
        </th>
       <th></th>
    </tr>
</thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td> @Html.DisplayFor(modelItem => item.CUSTNAME)</td>
        <td> @Html.DisplayFor(modelItem => item.CUSTCODE)</td>
        <td>
            @Html.DisplayFor(modelItem => item.BILL_DOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BILL_DT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAT_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HIE_NO)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.INCOTERMS)
        </td>
                <td class="p_1000">
            @Html.DisplayFor(modelItem => item.BILL_QTY_T)
        </td>
                <td class="p_1000">
            @Html.DisplayFor(modelItem => item.NO_BOX_QTY_T)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.LR_NO)
        </td>
                <td class="p_1000">
            @Html.DisplayFor(modelItem => item.FREIGHT)
        </td>
                <td class="p_1000">
            @Html.DisplayFor(modelItem => item.FREIGHT_T)
        </td>
       
    </tr>
}
</tbody>
</table>

<div id="bottom_anchor"></div>
</div>


<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
 

<script type="text/javascript">
    $(document).ready(function () {
        $('tr').find(".p_1000").each(function () {
            var x = $(this).text();

            var y = numberWithCommas(x)
            $(this).text(y);$(this).css('text-align','right')

        })//end of function.
        //gives values with commas to rows which having class-p_1000.

        function numberWithCommas(x) {
            
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }//end of function.
        //gives values with commas.



        function moveScroll() {
            var scroll = $(window).scrollTop();
            var anchor_top = $("#maintable").offset().top;
            var anchor_bottom = $("#bottom_anchor").offset().top;
            if (scroll > anchor_top && scroll < anchor_bottom) {
                clone_table = $("#clone");
                if (clone_table.length == 0) {
                    clone_table = $("#maintable").clone();
                    clone_table.attr('id', 'clone');
                    clone_table.css({
                        position: 'fixed',
                        'pointer-events': 'none',
                        top: 0
                    });
                    clone_table.width($("#maintable").width());
                    $("#table-container").append(clone_table);
                    $("#clone").css({ visibility: 'hidden' });
                    $("#clone thead").css({ visibility: 'visible', 'pointer-events': 'auto' });
                }
            } else {
                $("#clone").remove();
            }
        }
        $(window).scroll(moveScroll);




    })
    </script>


<style>
    
body { height: 1000px; }
thead{
    background-color:white;
}
</style>