@model IEnumerable<FreightApp.Models.VEHUTILREP>

<div><table   style="width:15%;color:#1977eb ;text-align:right" class="table " >
     <tr > <th> Total Empty Loss Amount :  </th><td class="p_1000"> <b>@ViewBag.empls</b>   </td>  </tr>
    </table>
    </div>

@*<table  style="width:70%" class="table table-hover table-striped table-scroll">*@

<div id="table-container" >
<table id="maintable" class="table table-hover table-striped table-scroll"  style="width:60%;font-size:small">
    <thead>

    <tr style="background-color:deepskyblue">
    <th hidden="hidden">
            ID
        </th>
        <th>
         Transporter 

        </th>
        <th>
          Ship-to party

        </th>
        <th>
           Name of the ship-to party

        </th>
        <th>
          Location of the ship-to party

        </th>
        <th>
         Billing Document

        </th>
        <th>
          Billing Date

        </th>
        <th>
           Reference

        </th>
        <th>
           Lr No.
        </th>
        <th>
           Loadability

        </th>
        <th>
          Actual loaded

        </th>
        <th>
           Empty space cost in INR

        </th>
        <th>
           Empty Loss reasons

        </th>
      
    </tr>
</thead>
    <tbody>
@foreach (var item in Model)
{
    if(item.EMP_LS==0)
    {}
    else{
    <tr class="trr">
       
      
        <td hidden="hidden" class="id">
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VENDOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STP_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STP_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STP_LCN)
        </td>
        <td>
            @Html.Raw(item.BILL_DOC.Replace(",","<br>"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BILL_DT)
        </td>
        <td>
            @Html.Raw(item.REFERENCE.Replace(",","<br>"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LR_NO)
        </td>
                <td class="p_1000">
            @Html.DisplayFor(modelItem => item.LOADABILITY)
        </td>
                <td class="p_1000">
            @Html.DisplayFor(modelItem => item.ACT_LOADED)
        </td>
        <td class="p_1000">
            @Html.DisplayFor(modelItem => item.EMP_LS)
        </td>
        
        <td class="tdd">
            @Html.DisplayFor(modelItem => item.EMP_LS_RSN)
        </td>
        
    </tr>
    }
}
</tbody>
</table>

 <div id="bottom_anchor"></div>
</div>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $idd = "";
        $yes = "";
        $tdd = "";
        $note = "";
        $(".trr").each(function () {
            var tdd = $(this).find(".tdd").text().trim();
            if (tdd == "Enter Reason!!") {
                $(this).find(".tdd").css("background-color", "#fa5261");
            }

        })

        $(".trr").click(function () {
            $tdd = $(this).closest('tr').find(".tdd").text().trim();
            $idd = $(this).closest('tr').find(".id").text().trim();
            // 

            $(this).parent().children().removeClass("selected");
            $(this).addClass("selected");


        });


        $('tr').find(".p_1000").each(function () {
            var x = $(this).text();

            var y = numberWithCommas(x)
            $(this).text(y);$(this).css('text-align','right')

        })//end of function.
        //gives values with commas to rows which having class-p_1000.

        function numberWithCommas(x) {

            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }//end of function.
        //gives values with commas.



        function moveScroll() {
            var scroll = $(window).scrollTop();
            var anchor_top = $("#maintable").offset().top;
            var anchor_bottom = $("#bottom_anchor").offset().top;
            if (scroll > anchor_top && scroll < anchor_bottom) {
                clone_table = $("#clone");
                if (clone_table.length == 0) {
                    clone_table = $("#maintable").clone();
                    clone_table.attr('id', 'clone');
                    clone_table.css({
                        position: 'fixed',
                        'pointer-events': 'none',
                        top: 0
                    });
                    clone_table.width($("#maintable").width());
                    $("#table-container").append(clone_table);
                    $("#clone").css({ visibility: 'hidden' });
                    $("#clone thead").css({ visibility: 'visible', 'pointer-events': 'auto' });
                }
            } else {
                $("#clone").remove();
            }
        }
        $(window).scroll(moveScroll);




        });
    </script>



<style>
    .selected {
    background-color:#2f8fe1;
    }

    .unselect {
    background-color:white;
    }


    
body { height: 1000px; }
thead{
    background-color:white;
}

</style>