@model FreightApp.Models.APPMATRIX

@{
    ViewBag.Title = "mapUser_Delete";
}



<h3 style="color:#2644fb">Are you sure you want to delete this?</h3>

<table class="table table-bordered table-striped" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.APPNAME)
        </th> <td>
            @Html.DisplayFor(model => model.APPNAME)
        </td>
         </tr>
     <tr>
         <th>
            @Html.DisplayNameFor(model => model.USERID)
        </th>
        <td>
            @Html.DisplayFor(model => model.USERID)
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "mapUser")
    </p>
}
