@model IEnumerable<FreightApp.Models.DIESEL_M>

@{
    ViewBag.Title = "datepick_index";
}

<h2>datepick_index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MONTYRDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE_D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MONTYRDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE_D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DT)
        </td>
       
    </tr>
}

</table>
