@model FreightApp.Models.CONTRACT_M

<table>
   <tr>
    <td>
         @Html.DisplayNameFor(model => model.VEH_NAME)
</td>
<td>
        @Html.DisplayFor(model => model.VEH_NAME)
</td>
</tr>

    <tr>
   <td>
         @Html.DisplayNameFor(model => model.MONTYR)
</td>
<td>
        @Html.DisplayFor(model => model.MONTYR)
</td>
</tr>

    <tr>
   <td>
         @Html.DisplayNameFor(model => model.AMOUNT)
</td>
<td>
        @Html.DisplayFor(model => model.AMOUNT)
</td>
        

    <tr>
   <td>
         @Html.DisplayNameFor(model => model.DESTINATION)
</td>
<td>
        @Html.DisplayFor(model => model.DESTINATION)
</td>
        </tr>
    <tr>
   <td>
         @Html.DisplayNameFor(model => model.DTUPDATED)
</td>
<td>
        @Html.DisplayFor(model => model.DTUPDATED)
</td>
        </tr>
</table>

