@model FreightApp.Models.DIESEL_M

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet"/>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

@using (Html.BeginForm("dsl_Edit_save", "Freight"))
{

    <div id="edit6">
  
        <table class="table table-bordered table-hover" >
            <tr hidden="hidden">
                <td >ID
                </td>
                <td  >
                   @Html.TextBoxFor(model => model.ID,new{@readonly="readonly"})
                </td>
            </tr>

            <tr>
                <td>Month Date:
                </td>
                <td>
                @Html.TextBoxFor(model => model.MONTYRDD,new { @class="date-picker",id="mmmyy",placeholder="dd/mm/yyyy",@required  = "required"})
                    @Html.ValidationMessageFor(model => model.MONTYRDD)
                </td>
                 </tr>

            <tr>
                <td>Price:
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PRICE_D, new {@type = "number",@required  = "required"})
                    @Html.ValidationMessageFor(model => model.PRICE_D)
                </td>
           </tr>
            <tr>
                <td colspan="2"> <input type="submit" value="Save" class="btn-success"  /></td>
           </tr>
        </table>
    </div> 

    
    <div id="details6">

      <table class="table table-bordered table-hover" >
                <tr hidden="hidden">
                <td >ID
                </td>
                <td id="idzone" >
                    @Html.DisplayFor(model => model.ID)
                </td>
            </tr>

            <tr>
            <td>Month Date:
            </td>
            <td>
                @Html.DisplayFor(model => model.MONTYRDD)
                @Html.ValidationMessageFor(model => model.MONTYRDD)
            </td>
</tr>
          <tr>
            <td>Price:
            </td>
            <td>
                @Html.DisplayFor(model => model.PRICE_D)
                @Html.ValidationMessageFor(model => model.PRICE_D)
            </td>
</tr>

         
              <tr>
        <td colspan="2">
             <input type="button" class="btn-primary" value="Edit" id="editbtn6" />
        </td>
           
    </tr>

        </table>

    </div>  
    
    
    
}



<script type="text/javascript">
    $(document).ready(function () {
      
        $("#details6").show();
        $("#edit6").hide();

        $("#editbtn6").click(function () {
            //alert("btn clicked")
            $("#details6").hide();
            $("#edit6").show();

        });

  

        $(function dtpicker() {
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'dd/mm/yy',
                onChangeMonthYear: function (dateText, inst) {
                    var date = $(".ui-datepicker-div .ui-datepicker-month :selected").val();
                    var month = $(".ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $(".ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, date));
                }
            });
        });


        
            //$(".date-picker").datepicker({
           
            //    format: 'dd/mm/yyyy', autoclose: true,
            //})
            //$(".datepicker").datepicker("setDate", new Date());
    

    });



</script>
<style>
     .ui-datepicker-calendar {
      
    }


  .table {
     background-color: #d7f1ee;
}
          input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
    </style>