@model FreightApp.Models.VEHICLE_M

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("vehi_Create_save","Freight",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table class="table table-bordered table-hover" >
     <tr>  <td>
           Vehicle Name:
       </td>
       <td>
            @Html.EditorFor(model => model.VEH_NAME)
            @Html.ValidationMessageFor(model => model.VEH_NAME)
       </td>
</tr>
 

        <tr>
       <td>
          Milage:
       </td>
       <td>
            @Html.EditorFor(model => model.VEH_AVG)
            @Html.ValidationMessageFor(model => model.VEH_AVG)
       </td>
            </tr>

        <tr>
       <td>
          Loadability:
       </td>
       <td>
            @Html.TextBoxFor(model => model.LOADABILITY , new {@type = "number"})
            @Html.ValidationMessageFor(model => model.LOADABILITY)
       </td>
</tr>

        <tr>
   <td>
            <button type="submit" value="Add" class="btn btn-primary ">Add</button>
        </td>
            </tr>
        </table>
}
<style>
  .table {
     background-color: #d7f1ee;
}
   input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
    </style>